body {
	font-family: Garamond, serif;
}
.cslcd-fluid-container {
	width: 100%;
	height: auto;
	text-align: center;
}
.cslcd-fixed-container {
	margin: 0 auto;
	width: 1024px;
	height: auto;
}
.cslcd-col-no-padding {
	padding-right: 0;
    padding-left: 0;
}
.cslcd-nav-bg {
	background-image: url(../imgs/nav_bg.png);
	background-repeat: repeat;
	height: 30px;
}
.cslcd-nav-a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-decoration: none;
	color: #999;
	padding-right: 12px;
}
.cslcd-text-left {
	text-align: left;
}
.cslcd-text-right {
	text-align: right;
}
.cslcd-float-left {
	float: left;
}
.cslcd-float-right {
	float: right;
}
.cslcd-nav-a-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	height: 30px;
	padding-left: 24px;
}
.cslcd-nav-a-icon-xiaoxi {
	background-image: url(../imgs/xinfeng.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.cslcd-nav-a-icon-gouwuche {
	background-image: url(../imgs/gouwuche.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.cslcd-nav-a-span-number {
	color: red;
}
.cslcd-logo {
	background-image:url(../imgs/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 115px;
}
.cslcd-search-bar {
	height: 35px;
	width: 495px;
	background-image: url(../imgs/search_bar.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px 0;
}
.cslcd-big-nav {
	height: 70px;
}
.cslcd-big-nav img {
	max-height: 100%;
}
.cslcd-bottom-nav {
	height: 35px;
	width: 100%;
	margin-top: 10px;
	padding-left:10px;
	padding-right: 10px;
	background-image: url(../imgs/bottom_nav_bg.png);
	background-size: contain;
	background-repeat: repeat;
}
.cslcd-bottom-nav-a {
	color: #000;
	font-size: 18px;
	line-height: 35px;
	padding-right: 27px;
}
.cslcd-big-pic-1 {
	width: 550px;
	height: 400px;
}
.cslcd-big-pic-2 {
	width: 470px;
	height: 130px;
	margin-bottom: 10px;
	margin-left: 45px;
}
.cslcd-big-pic-3 {
	width: 470px;
	height: 260px;
	margin-left: 45px;
}
.cslcd-img-responsive {
	max-width: 100%;
	max-height: 100%;
}
.cslcd-fixed-container-padding-top-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}
.cslcd-jingpintuijian {
	width: 170px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
}
{
	width: 1024px;
	height: 30px;
}
.cslcd-jingpintuijian-titile {
	width: 1024px;
	height: 110px;
}
.cslcd-jingpintuijian-titile-up {
	width: 1024px;
	height: 40px;
	position: relative;
}
.cslcd-jingpintuijian-titile-middle {
	width: 1024px;
	height: 30px;
}
.cslcd-jingpintuijian-titile-down {
	width: 1024px;
	height: 40px;
	position: relative;
}
.cslcd-row-margin-0 {
	margin-right: 0;
    margin-left: 0;
}

.cslcd-logo-box {
	width: 290px;
}
.cslcd-logo-right-box {
	width: 730px;
}
.cslcd-jingpintuijian-titile-up-a {
	display: inline-block;
	height: 40px;
	text-decoration: none;
	top: 0;
	position: absolute;
}
.cslcd-absolute-a-1 {
	left: 122px;
}
.cslcd-absolute-a-2 {
	left: 220px;
}
.cslcd-absolute-a-3 {
	left: 330px;
}
.cslcd-absolute-a-4 {
	left: 440px;
}
.cslcd-absolute-a-5 {
	left: 565px;
}
.cslcd-absolute-a-6 {
	left: 688px;
}
.cslcd-absolute-a-7 {
	left: 825px;
}
.cslcd-jiancai-box,
.cslcd-jiancai-img {
	position: relative;
}
.cslcd-jiancai-box {
	padding-top:40px;
	height: 500px;
}
.cslcd-jiancai-title,
.cslcd-jiancai-border,
.cslcd-jiancai-lefttop,
.cslcd-jiancai-rightbottom {
	position: absolute;
}

.cslcd-jiancai-title{
	padding-left:20px;
	padding-right:20px;
	font-size: 22px;
	font-weight: bold;
	color:#333;
	background: #fff;
	left:50%;
	top: 10px;
	transform: translateX(-50%);
}
.cslcd-jiancai-border{
	height:1px;
	width:200px;
	background: #aaa;
	left:50%;
	top: 28px;
	transform: translateX(-50%);
}
.cslcd-jiancai-lefttop{
	width:100px;
	height: 50px;
	border-top: 5px solid blue;
	border-left: 5px solid blue;
	left:;
	top: ;
}
.cslcd-jiancai-rightbottom{
	width:100px;
	height: 50px;
	border-bottom: 5px solid blue;
	border-right: 5px solid blue;
	right:0;
	bottom: 10px;
}
.cslcd-jiancai-img,
.cslcd-shejishi-img{
	float: left;
	width: 190px;
	height: 205px;
	margin-top: 12px;
	margin-left: 12px;
	text-align: center;
}
.cslcd-shejishi-img {
	height: 165px;
}
.cslcd-jiancai-img img,
.cslcd-shejishi-img-inside img {
	max-height:100%;
	max-width:100%;
}
.cslcd-shejishi-img-inside {
	width: 190px;
	height: 155px;
}
.cslcd-shejishi-img p span{
	color: red;
}
.cslcd-shejishi-box {
	background: rgba(250, 206, 191, 1);
}
.cslcd-shejishi-box-height {
	height: 415px;
}
.cslcd-you-love {
	position: absolute;
	left:55%;
	top: 28px;
	color: red;
	font-size: 20px;
}
.cslcd-footer-bg {
	background-image: url(../imgs/nav_bg.png);
	background-repeat: repeat;
	height: 45px;
}
.cslcd-footer {
	position: relative;
	width: 1024px;
}
.cslcd-footer a {
	position: absolute;
	display: block;
	height: 45px;
	line-height: 45px;
	font-size: 22px;
	text-decoration: none;
	color: #aaa;
	left: 50%;
}
.cslcd-footer a:nth-child(1) {
	transform: translateX(-275%);
}
.cslcd-footer a:nth-child(2) {
	transform: translateX(-125%);
}
.cslcd-footer a:nth-child(3) {
	transform: translateX(25%);
}
.cslcd-footer a:nth-child(4) {
	transform: translateX(175%);
}
.cslcd-nav-account-a {
	padding-right: 50px;
}
.cslcd-account-box {
	position:relative;
	width:1024px;
	height: auto;
}

.cslcd-account-bg,
.cslcd-account-form,
.cslcd-account-logo{
	float:left;
}
.cslcd-account-bg {
	width: 1024px;
	height: 125px;
}
.cslcd-account-bg img {
	max-height: 100%;
	max-width: 100%;
}
.cslcd-account-form {
	width: 500px;
	height: auto;
	text-align: left;
}
.cslcd-account-logo {
	width: 500px;
	height: auto;
}
.cslcd-account-form label {
	width: 145px;
	padding-right: 10px;
	text-align: right;
	height: 35px;
	line-height: 35px;
	color:#888;
	font-size: 16px;
	margin-bottom: 15px;
}
.cslcd-account-form .cslcd-input {
	width: 290px;
	height: 35px;
	padding-left: 10px;
	margin-bottom: 15px;
}
.cslcd-input-yanzhengma {
	width: 130px;
	height: 35px;
	padding-left: 10px;
	margin-bottom: 15px;
}
.cslcd-input-img {
	width: 145px;
	height: 40px;
	margin-left: 15px;
}
.cslcd-radio {
	width: 20px;
}
.cslcd-radio-span {
	margin-left:60px;
}
.cslcd-caret {
	color: rgba(250, 65, 50, 1);
	border-top-width: 8px;
}
.cslcd-dropdown {
	margin-left: 185px;
	color: #888;
	font-size: 16px;
}
.cslcd-radio-agree {

}
.cslcd-radio-agree-span {
	display: inline-block;
	margin-left: 155px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.cslcd-radio-agree-span a {
	text-decoration: none;
	color: rgba(250, 65, 50, 1);
}
.cslcd-button-img {
	margin-left: 135px;
	width: 320px;
	height: 50px;
}
.cslcd-button-img img{
	max-height: 100%;
	max-width: 100%;
}
.cslcd-login-box {
	background-color: rgba(250, 65, 50, 1);
	background-image: url(../imgs/login-bg.jpg);
	background-repeat: no-repeat;
	background-size: 1920px 768px;
	background-position: center top;
}
.cslcd-login {
	width: 1024px;
	height: 768px;
	position: relative;
}
.cslcd-login-a {
	position: absolute;
	display: block;
}
.cslcd-login-a-1 {
	width: 100px;
	height:30px;
	left: 850px;
	top: 220px;
}
.cslcd-login-a-2 {
	width: 100px;
	height:30px;
	left: 820px;
	top: 400px;
}
.cslcd-login-a-3 {
	width: 310px;
	height:55px;
	left: 610px;
	top: 460px;
}
.cslcd-login-input-1 {
	position: absolute;
	width: 250px;
	height: 35px;
	top: 275px;
	left:660px;
	border:none;
	padding-left: 10px;
}
.cslcd-login-input-1:focus,
.cslcd-login-input-2:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.cslcd-login-input-2 {
	position: absolute;
	width: 250px;
	height: 35px;
	top: 338px;
	left:660px;
	border:none;
	padding-left: 10px;
}
.cslcd-login-input-div {
	position: absolute;
	width: 100px;
	height: 50px;
	padding-top: 10px;
	top: 396px;
	left:615px;
	background: #fff;
	text-align: left;
	color: #888;
}
.cslcd-login-input-3 {
}
.cslcd-fuwushang-box {
	width: 1024px;
	height: 1300px;
	position: relative;
	background-color: rgba(250, 65, 50, 1);
	background-image: url(../imgs/fuwushang-bg.jpg);
	background-repeat: no-repeat;
	background-size: 1920px 1468px;
	background-position: center -30px;
}
.cslcd-fuwushang-ul-box {
	position: relative;
	height: 45px;
}
ul {
	list-style: none;
}
.cslcd-fuwushang-ul {
	position: absolute;
    overflow: hidden;
    width: 890px;
    height: 35px;
    margin-left: 75px;
    padding-left: 0;
    line-height: 35px;
    font-size: 15px;
    top: 10px;
    background: #fff;
}
.cslcd-fuwushang-ul li {
	float: left;
	padding-left: 10px;
    padding-right: 10px;
}
a {
	color:#888;
}
.cslcd-fuwushang-ul-a {
	position: absolute;
	right:0;
	display:block;
	width:60px;
	height:30px;
	top: 10px;
}
.cslcd-fuwushang-ul-down {
	top: 5px;
}
.cslcd-fuwushang-ul-sort-box {
	position: relative;
	height: 55px;
}
.cslcd-fuwushang-sort-ul {
	overflow: hidden;
	height: 55px;
	line-height: 65px;
    margin-left: 75px;
}
.cslcd-fuwushang-sort-ul li {
	float: left;
	padding-left: 10px;
    padding-right: 10px;
}
.cslcd-fuwushang-sort-ul li .a{
	display: block;
	width: 72px;
	height: 26px;
	margin-left: 1px;
}
.cslcd-fuwushang-sort-ul-a-first {
	margin-left: -10px!important;
}
.cslcd-fuwushang-sort-ul li a img {
	max-height: 100%;
	max-width: 100%;
}
.cslcd-fuwushang-img-box {
	position: relative;
	overflow: hidden;
	padding-top: 2px;
	background: #fff;
}
.cslcd-fuwushang-img {
	width: 188px;
	height: 303px;
	float: left;
	border: 1px solid #ddd;
	margin-top: 18px;
}
.cslcd-fuwushang-img-inside {
	width: 188px;
	height: 210px;
}
.cslcd-fuwushang-img-inside img {
	max-height: 100%;
	max-width: 100%;
}
.cslcd-fuwushang-img-margin18 {
	margin-left: 21px;
}
.cslcd-fuwushang-img-span-50 {
	display: inline-block;
	width:90px;
	height:21px;
	font-size: 12px;
	line-height: 23px;
	padding-left:5px;
	padding-right: 5px;
	font-weight: bolder;
}
.cslcd-fuwushang-img-span-100 {
	display: inline-block;
	width:180px;
	height:21px;
	font-size: 12px;
	line-height: 23px;
	padding-left:5px;
	padding-right: 5px;
	font-weight: bolder;
}
.cslcd-fuwushang-img-span-50 img {
	width:13px;
	height:13px;
}
.cslcd-fuwushang-nav-box {
	height: 130px;
}
.cslcd-nav-logo {
	float:left;
	width:290px;
	height:130px;
}
.cslcd-fuwushang-logo-right {
	float:left;
	width:734px;
	height:130px;
}
.cslcd-nav-searchbar {
	height:50px;
	position: relative;
}
.cslcd-nav-box {
	height: 80px;
	position: relative;
}
.cslcd-nav-box-a {
	display: block;
	position: absolute;
	background: #fff;
	text-align: left;
}
.cslcd-nav-searchbar-dropdown,
.cslcd-nav-searchbar-input,
.cslcd-nav-searchbar-btn {
	position: absolute;
	display: block;
}
.cslcd-nav-searchbar-input:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.cslcd-nav-searchbar-dropdown {
	left: 230px;
	top: 16px;
	width: 70px;
	height: 26px;
	background: #fff;
}
.cslcd-nav-searchbar-input {
	left: 310px;
	top: 16px;
	width: 300px;
	border:0;
}
.cslcd-nav-searchbar-btn {
	left: 640px;
	top: 12px;
	width: 78px;
	height: 35px;
}
.cslcd-nav-box-a-1 {
	left: 30px;
    top: 40px;
    width: 50px;
    height: 40px;
}
.cslcd-nav-box-a-2 {
	left: 132px;
    top: 5px;
    width: 55px;
    height: 40px;
}
.cslcd-nav-box-a-3 {
	left: 239px;
    top: 40px;
    width: 90px;
    height: 40px;
}
.cslcd-nav-box-a-4 {
	left: 392px;
    top: 6px;
    width: 75px;
    height: 40px;
}
.cslcd-nav-box-a-5 {
	left: 525px;
    top: 40px;
    width: 95px;
    height: 40px;
}
.cslcd-nav-box-a-6 {
	left: 674px;
    top: 40px;
    width: 50px;
    height: 40px;
}
.cslcd-fuwushang-footer {
	position: relative;
	height: 60px;
    padding-top: 20px;
    line-height: 40px;
}
.cslcd-fuwushang-footer-a {
	position: absolute;
	display: block;
	color: #888;
	background: rgba(245,245,245,1);
	padding-left: 5px;
	padding-right: 5px;
}
.cslcd-fuwushang-footer-a-1 {
	left: 362px;
}
.cslcd-fuwushang-footer-a-2 {
	left: 445px;
}
.cslcd-fuwushang-footer-a-3 {
	left: 525px;
}
.cslcd-fuwushang-footer-a-4 {
	left: 610px;
}
.cslcd-fuwushang-ul-sort-box-bg {
	position: absolute;
	left: 110px;
	top: 20px;
	height:30px;
	width:800px;
	background: rgba(254, 241, 234, 1);
}
.cslcd-jiancai-sort-ul {
	position: absolute;
	left: 0px;
	top: 0px;
}
.cslcd-jiancaishang-span-red {
	display: inline;
	color:red;
}
.cslcd-jiancaishang-span-delete {
	display: inline;
	color: #ddd;
	text-decoration:line-through;
}
.cslcd-jiancaishang-img-inside {
	width:186px;
	padding: 1px;
}







